* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

.grid-wrapper {
  margin: 0px auto;
  width: 48rem;
}

.title-boxed {
  display: inline-block;
  padding: 0.45rem;
  margin-bottom: 2rem;
  border: 0.125em solid $black;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.case-header {

  overflow: hidden;
  position: relative;
  padding: 60px 0px 0px;

  video {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0px, -50%);
    width: 100%;
  }

  .case-header-content {
    z-index: 1;
    position: relative;
    padding: 14rem 0px;
  }

  .title-boxed {
    font-size: 1rem;
    border-color: $white;
  }

  h1 {
    margin: 0px;
  }

}

.case-main-content {

  color: $black;
  background: $white;

  h2.title-boxed {
    font-size: 1.75rem;
  }

}

.case-timeline {

  $circle-dimension: 5.5rem;
  $timeline-border-width: 3px;

  .timeline-circle {

    z-index: 1;
    position: relative;
    display: inline-block;
    width: $circle-dimension;
    height: $circle-dimension;
    border-width: $timeline-border-width;
    border-style: solid;
    border-radius: 50%;

    img {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: $circle-dimension - 2rem;

      &.tall {
        height: $circle-dimension - 3rem;
      }

    }

  }

  .timeline-point {

    z-index: 0;
    position: relative;
    padding: 1rem 2rem;
    margin-top: -1/2 * $circle-dimension;
    width: 50%;
    border-style: solid;
    border-top-width: $timeline-border-width;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0.875rem;
      height: 0.875rem;
      border-radius: 50%;
      transform: translate(-50%, -0.5rem);
    }

    &.left {
      padding-right: 6rem;
    }

    &.right {

      padding-left: 6rem;
      transform: translate(100%, 0px);

      &:after {
        left: auto;
        right: 0px;
        transform: translate(50%, -0.5rem);
      }

      .point-title {
        text-align: right;
      }

    }

    .point-title {
      position: absolute;
      top: -2.5rem;
      left: 2rem;
      right: 2rem;
      color: $black;
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 1;
    }

    p {
      font-weight: bold;
      line-height: 1.4;
    }

  }

  .timeline-section {

    position: relative;
    padding-bottom: 4rem;
    text-align: center;

    &:after {
      content: ' ';
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 0px);
      width: $timeline-border-width;
    }

    &.turquoise {

      &:after {
        background: $turquoise;
      }

      .timeline-circle {
        background: $red;
        border-color: $turquoise;
      }

      .timeline-point {

        border-color: $turquoise;

        &:after {
          background: $turquoise;
        }

      }

    }

    &.red {

      &:after {
        background: $red;
      }

      .timeline-circle {
        background: $yellow;
        border-color: $red;
      }

      .timeline-point {

        border-color: $red;

        &:after {
          background: $red;
        }

      }

    }

  }

}
