html {
  height: 100%;
  width: 100%;
}

body {
  color: $white;
  background-color: $black;
  text-align: center;
  font-family: sans-serif;
  font-weight: 200;
  height: 100%;
  min-height: 100%;
}

.clearfix {

  display: block;
  height: 0px;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

header {
  height: 60px;
  width: 100%;
  background: transparentize($gray-darkest, .1);
  position: fixed;
  z-index: 20;
}

.navigation-container {
  float: right;
  position: relative;
  top: 23px;
  right: 60px;
  width: 100%;
  text-align: right;
}

.nav-li {

  display: inline-block;
  font-size: 14px;
  margin-right: 33px;

  a {

    &:hover,
    &:active,
    &.active {
      color: $red;
      border-bottom: 3px solid $red;
      padding-bottom: 4px;
    }

  }

}

.splash-screen {

  max-height: 100%;
  height: 1200px;
  width: 100%;
  padding-top: 250px;
  box-sizing: border-box;

  .second-headline {
    margin-top: 12px;
  }

}

.headline-container {
  width: 675px;
  max-width: 100%;
  height: 158px;
  margin: 0 auto;
  background: transparentize($gray-darkest, .25);
  padding-top: 43px;
  box-sizing: border-box;
}

.red-section {

  height: 300px;
  width: 100%;
  background-color: $red;
  position: relative;
  z-index: 1;

  h1 {
    font-family: 'Droid Serif', serif;
    font-size: 36px;
    color: $white;
    position: relative;
    top: 75px;
    width: 680px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 49px;
  }

  h2 {
    font-family: 'Droid Serif', sans-serif;
    position: relative;
    top: 90px;
  }

}

.red-section-01 {
  margin-top: 134px;
}

.our-people {
  padding-bottom: 100px;
  width: 100%;
  background-color: $white;
  box-sizing: border-box;
}

.our-things {
  padding-bottom: 80px;
}

.our-space,
.our-work {
  height: 100%;
}

.our-space {

  position: relative;
  height: 100%;
  background: $white;

  &.main-sections {
    padding-top: 0px;
  }

  .section-headlines {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 75px;
  }
  
  .wrapper {
    margin-top: 0px;
  }

}

.our-clients {
  padding-bottom: 80px;
}

.our-clients,
.our-things,
.contact-us {
  background-color: $white;
}

footer {

  padding: 20px 0px;
  width: 100%;
  height: 405px;
  background: {
    color: $black-off;
    image: url('../../images/footer_bg.png');
    position: left top;
    repeat: no-repeat;
    size: cover;
  }

  a {
    border-bottom: 1px solid $white;
  }

}

.people-container {
  width: 1041px;
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: 0 auto;
}

.people {
  margin-bottom: 10px;
}

.clients {
  margin-top: 20px;
}

$box-dimension: 180px;
$wide-dimension: 374px;

.person,
.client {

  position: relative;
  display: inline-block;
  width: $box-dimension;
  height: $box-dimension;
  background-color: $gray-off;
  margin: 5px;
  vertical-align: top;
  padding: 0px;
  box-sizing: border-box;

  .flip {
    width: $box-dimension;
    height: $box-dimension;
  }

  &:hover {

    cursor: pointer;

    &.producer {
      cursor: initial;
    }

  }

  &.production-team-intro {
    padding: 0px 16px;
  }

}

.filler-03,
.filler-06 {
  width: $wide-dimension;
}

.filler-07,
.filler-08 {
  display: none;
}

.things {
  margin: 20px 0px;
}

.thing {

  display: inline-block;
  width: 300px;
  margin-left: 10px;

  .thing-flip {

    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    cursor: pointer;

    ul {
      visibility: hidden;
      opacity: 0;
      z-index: 999;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      padding-top: 50px;
      list-style: none;
      transition: all 300ms ease;
    }

    &:hover ul {
      visibility: visible;
      opacity: 1;
    }

    li {
      margin-bottom: 10px;
      color: $white;
      font-size: 20px;
      font-weight: 100;
      font-family: 'Muli', sans-serif;
    }

  }

  &.thing-strategy {

    .thing-flip {

      background: {
        image: url('../../images/things/strategy.jpg');
        position: 0 0;
        size: 150%;
      }

    }

    ul {
      background-color: $goldenrod;
    }

  }

  &.thing-creative {

    .thing-flip {

      background: {
        image: url('../../images/things/creative.jpg');
        position: -70px -30px;
        size: 175%;
      }

    }

    ul {
      background-color: $blue-lite;
    }

  }

  &.thing-delivery {

    .thing-flip {

      background: {
        image: url('../../images/things/delivery.jpg');
        position: -170px 0px;
        size: 170%;
      }

    }

    ul {
      background-color: $red;
    }

  }

  .thing-description {
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 22px;
  }

  .things-container {
    margin-top: 300px;
  }

  .thing-title {
    font-family: 'Droid Serif', serif;
    font-size: 52px;
    position: relative;
    display: inline-block;
    margin-top: 120px;
    color: $white;
  }

}

.box-text {
  margin-top: 18px;
  display: inline-block;
  line-height: 25px;
}

.goldenrod {
  background-color: $goldenrod;
}

.grey {
  background-color: $gray;
}

.main-headline {
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 42px;
}

.second-headline {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 20px;
}

.red-line {
  color: $red;
}

.main-sections {

  padding-top: 80px;

  h1 {
    font-family: 'Droid Serif', serif;
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
  }

}

.our-people,
.our-things,
.our-clients,
.contact-us {
  color: $black;
}

.our-people h1,
.our-space h1 {
  margin-bottom: 14px;
}

.our-people h2,
.our-space h2 {
  margin-bottom: 50px;
}

.section-headlines {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 630px;
  max-width: 100%;
}

.client {
  background: {
    color: $cream;
    size: 90%;
    position: center;
    repeat: no-repeat;
  }
}

.our-work {

  background: {
    image: url('../../images/carecenter_cropped.jpg');
    repeat: no-repeat;
    position: center right;
    size: cover;
    color: $gray-dark;
  }

  h1 {
    margin-bottom: 20px;
  }

}

.header-logo {
  height: 22px;
  width: 222px;
  float: left;
  position: relative;
  top: 15px;
  left: 60px;
}

.wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  margin-top: -210px;
}

.carousel {

  width: 100%;
  position: relative;
  overflow: hidden;

  .gradient-overlay {
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(to bottom, $black 0%, transparent 100%);
  }

}

.inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 25%;

  &.left {
    left: -100%;
    right: 0;
  }

  &.right {
    right: -100%;
    left: auto;
  }

  &.active,
  &.left,
  &.right {
    z-index: 2;
    opacity: 1;
  }

  &:nth-child(1) {
    background-image: url('../../images/space/Photo-1.jpg');
  }

  &:nth-child(2) {
    background-image: url('../../images/space/Photo-2.jpg');
  }

  &:nth-child(3) {
    background-image: url('../../images/space/Photo-3.jpg');
  }

  &:nth-child(4) {
    background-image: url('../../images/space/Photo-4.jpg');
  }

  &:nth-child(5) {
    background-image: url('../../images/space/Photo-5.jpg');
  }

  &:nth-child(6) {
    background-image: url('../../images/space/Photo-6.jpg');
  }

  &:nth-child(7) {
    background-image: url('../../images/space/Photo-7.jpg');
  }

  &:nth-child(8) {
    background-image: url('../../images/space/Photo-8.jpg');
  }

}

.js-reset-left {
  left: auto;
}

.transition .slide {

  transition-property: right, left, margin;

  &.left {
    left: 0%;
  }

  &.right {
    right: 0%;
  }

  &.shift-right {
    right: 100%;
    left: auto;
  }

  &.shift-left {
    left: 100%;
    right: auto;
  }

}

.indicators {

  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding: 0;
  text-align: center;

  li {

    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 5px;
    background: $white;
    list-style-type: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s ease-out;

    &.active {
      background: $purple;
    }

    &:hover {
      background-color: $gray-darkest;
    }

  }

}

.arrow {

  z-index: 1000;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: 52px;
  height: 284px;
  background: {
    size: 100% auto;
    position: center center;
    repeat: no-repeat;
  }
  cursor: pointer;
  transition: border-color .3s ease-out;

  &:hover {
    border-color: $purple;
  }

  &.arrow-left {

    left: 20px;
    background-image: url('../../images/arrow-left-white.png');

    &:hover {
      background-image: url('../../images/arrow-left-gray.png');
    }

  }

  &.arrow-right {

    right: 20px;
    background-image: url('../../images/arrow-right-white.png');

    &:hover {
      background-image: url('../../images/arrow-right-gray.png');
    }

  }

}

a {
  text-decoration: none;
  color: $white;
}

.guy {
  height: 43px;
  position: relative;
  top: 50px;
}

.button {
  width: 245px;
  height: 58px;
  border: 3px solid $blue-lite;
  background-color: transparentize($white, .75);
  margin: 0 auto;
  position: relative;
  top: 20px;
  display: block;
  transition: .3s linear;
}

.button:hover {
  border: 3px solid $blue-lite;
  background-color: $blue-lite;
}

.button-text {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.column3rds {
  width: 32.53333%;
  height: 200px;
  display: inline-block;
  text-align: right;
  margin-top: -22px;
  padding-top: 175px;
  box-sizing: border-box;
}

.second-col {
  text-align: left;
  padding-top: 101px;
  vertical-align: top;
}

.third-col {
  text-align: left;
  padding-top: 100px;
  margin-top: -20px;
  vertical-align: top;
}

.footer-logo {
  position: relative;
  top: -72px;
  right: -125px;
  width: 145px;
}

.footer-copy {
  line-height: 22px;
  font-family: 'Muli';
  font-weight: 100;
  font-size: 16px;
}

.footer-copy-mdc {
  line-height: 22px;
  font-family: 'Muli';
  font-weight: 100;
  font-size: 14px;
  text-align: left;
  margin-top: 15px;
}

.client-login-area {

  a {
    border: 0;
  }
}

.client-login-area-big {
  margin-top: 64px;
}

.client-login-area-small {
  display: none;
}

.test {
  top: -184px;
  position: relative;
}

.animate {

  transition: all 600ms linear;

  $headline-anim-y: 100px;

  &.headline-anim {
    opacity: 0;
  }

  &.headline-anim-top {
    transform: translateY($headline-anim-y * -1);
  }

  &.headline-anim-bottom {
    transform: translateY($headline-anim-y);
  }

  &.guy-anim {
    transform: translate(-800px, -150px);
  }

  &.animated {

    transform: none;

    &.headline-anim {
      opacity: 1;
    }

  }

}

.detail-copy {

  position: absolute;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  color: $white;
  background-color: transparentize($blue-lite, .2);
  text-align: left;
  box-sizing: border-box;

  .title {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .description {
    font-family: 'Droid Serif', serif;
    font-size: 12px;
    line-height: 20px;
  }

}

// Map Styling

.google-map {
  z-index: 0;
  margin-top: -100px;
  width: 100%;
  height: 720px;
}

.contact-us {
  padding-top: 0;
}

.contact-headlines {
  top: 190px;
  z-index: 6;
}

.nav-ul-desktop {
  position: relative;
  top: -23px;
  float: right;
}

.menu-btn div {
  position: absolute;
  padding-right: 8px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 3;
}

.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  z-index: 99;
}

.responsive-menu {
  display: none;
  opacity: 0;
  height: 0;
}

.expand {
  display: block;
  height: 100%;
  opacity: 1;
}

.drop {
  clear: both;
  background: transparentize($black , .1);
  top: -45px;
  position: relative;
  text-align: center;
}

.mobile-nav {
  display: none;
  width: 100%;
  float: right;
  text-align: right;
  margin-right: -60px;
}

.hamburger {
  height: 60px;
  width: 60px;
  background-image: url('../../images/hamburgler.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  position: relative;
  top: -45px;
  right: 0px;
  cursor: pointer;
  background-color: $red;
}

.nav-li-mobile {

  height: 30px;
  padding: 30px 0px 10px;

  a {
    font-size: 1.25em;
  }

}

.things-container,
.clients-container {
  width: 1041px;
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: 0 auto;
}

.thing-copy {
  display: inline-block;
  width: 300px;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
}

.things-copy {

  list-style: none;

  p {
    color: $black;
    font-weight: 100;
    line-height: 24px;
  }

}

.social-links {

  margin-top: 40px;
  width: 230px;

  img {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    border: 0;
  }

}

.in,
.face,
.twitter,
.instagram {

  &:hover {
    opacity: .8;
  }

}

::selection {
  background-color: transparent;
  color: $red;
}

.splash-video {
  position: fixed;
  left: 0;
  top: -300px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: {
    image: url('../../videos/river.jpg');
    size: cover;
    repeat: no-repeat;
  }
}

@media only screen and (max-width: 2500px) {

  .splash-video {
    top: 0px;
  }

}

@media only screen and (max-width: 1350px) {

  .splash-video {
    top: 0px;
  }

}

@media only screen and (max-width: 967px) {

  .thing {
    margin-bottom: 20px;
  }

  .filler-03,
  .filler-06 {
    width: $box-dimension;
  }

  .filler-01,
  .filler-02,
  .filler-04,
  .filler-05,
  .filler-06,
  .filler-07 {
    display: none;
  }

  .our-work {
    background-position: center center;
  }

}

@media only screen and (max-width: 773px) {

  .filler-01,
  .filler-02,
  .filler-04,
  .filler-06,
  .filler-07,
  .filler-08 {
    display: none;
  }

}

@media only screen and (max-width: 900px) {

  .nav-ul-desktop {
    display: none;
  }

  .nav-li {
    display: none;
  }

  .header-logo {
    left: 10px;
  }

  .headline-container {
    padding-top: 51px;
  }

  .main-headline {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .mobile-nav {
    display: block;
  }

  footer {

    height: auto;
    background-repeat: repeat;

    .footer-logo {
      position: static;
    }

    .column3rds {
      display: block;
      margin: 0px;
      padding: 12px 18px;
      width: auto;
      height: auto;
      text-align: left;
    }

    .social-links {
      margin: 12px 0px 0px;
      width: auto;
    }

    .client-login-area-big {
      display: none;
    }

    .client-login-area-small {
      display: block;
      margin-top: 40px;
      padding: 12px 0px;
    }

  }

}

@media only screen and (max-width: 577px) {

  body {
    font-size: .9em;
  }

  .splash-video {
    display: none;
  }

  .splash-screen {
    height: 600px;
    background: {
      image: url('../../videos/river-mobile.jpg');
      size: cover;
    }
  }

  .red-section-01 {
    margin-top: 0px;
  }

  .headline-container {
    padding-top: 31px;
  }

  .second-headline {
    font-size: 16px;
  }

  .guy {
    top: 20px;
    height: 28px;
  }

  .red-section {

    height: 134px;

    h1 {
      font-size: 18px;
      line-height: 22px;
      top: 30px;
    }

  }

  .arrow {
    width: 26px;
    height: 142px;
  }

  .anmite .inner .inner2 {
    font: Helvetica;
  }

  .animate {

    $headline-anim-y: 50px;

    &.headline-anim-top {
      transform: translateY($headline-anim-y * -1);
    }

    &.headline-anim-bottom {
      transform: translateY($headline-anim-y);
    }

    &.animated {
      transform: none;
    }

  }

  .our-space {
    padding-top: 60px;
  }

  .google-map {
    margin-top: -130px;
  }

  .main-sections h2 {
    font-size: 14px;
  }

  $box-dimension: 148px;

  .person,
  .client {

    &,
    .flip {
      width: $box-dimension;
      height: $box-dimension;
    }

    .bigshow {
      width: 311px;
      height: 306px;
    }

    &.filler {
      display: none;
    }

    &.filler-07 {
      display: inline-block;
    }

  }

  .box-text {
    margin-top: 15px;
    line-height: 1.5;
  }

}
