// Colors
$black: #000;
$black-off: rgb(16, 16, 16);
$white: #fff;
$cream: rgb(241, 241, 241);
$gray: rgb(216, 216, 216);
$gray-off: #666;
$gray-dark: rgb(173, 178, 182);
$gray-darkest: rgb(40, 40, 40);
$red: rgb(206, 32, 47);
$purple: #93278f;
$blue-lite: rgb(84, 175, 195);
$goldenrod: rgb(211, 184, 102);
