$black: #000;
$black-off: #12181f;
$white: #fff;
$grey-lightest: #f5f5f5;
$grey-light: #d7d7d7;
$grey-off: #9f958b;
$red: #ce202f;
$red-orange: #f0493e;
$red-orange-hover: #b1362e;
$yellow: #ebb91f;
$turquoise: #20a8b6;
$turquoise-dark: #1a8a95;
$turquoise-hover: $turquoise-dark;
$turquoise-darkest: #00464f;
$turquoise-darkest-hover: #002f35;
$green: #46b978;
$green-dark: #00464f;
$blue-off: #0895d3;

$transition: all 600ms;
