$black: #000;
$black-off: #12181f;
$white: #fff;
$grey-lightest: #f5f5f5;
$grey-light: #d7d7d7;
$red: #cc1f2e;
$red-orange: #e94d3a;
$yellow: #ebb91f;
$turquoise: #20a8b6;
$turquoise-dark: #1a8a95;
$turquoise-darkest: #00464f;
$green: #46b978;
$green-dark: #00464f;
$blue-off: #0895d3;

$transition: all 600ms;
